<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">        <link href="/static/styles.css" rel="stylesheet">
        {% block script %}{% endblock %}
            
        <title>Schedule: {% block title %}{% endblock %}</title>

    </head>
    <body>
        <header>

        </header>

        <main>
            {% block main %}{% endblock %}
        </main>

        <footer>

        </footer>

    </body>

    


    